.col{
    height:3rem;
    width:3rem;
    background-color:red;
}
.col1{
    height:3rem;
    width:3rem;
    background-color:blueviolet;
}
.t1{
    /* border:2px solid black; */
    border-collapse: collapse;
    height:5rem;
    width:5rem;
}